<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>
<body>

<th:block th:fragment="navbar">

        <nav class="nav-extended blue-grey darken-3">

             <div class="nav-wrapper">

                 <a href="/" class="brand-logo">
                     <img class="logo" src="/imgs/blog.png" />Spring boot blog
                 </a>
                 <a href="#" data-activates="mobile-demo" class="sideNav-btn button-collapse"><i class="material-icons">menu</i></a>

                 <ul id="nav-mobile" class="right hide-on-med-and-down">
                     <th:block sec:authorize="isAuthenticated()">
                         <li>
                             <a th:href="@{/users/profile}" class="waves-effect waves-light btn-link">
                                 Welcome <span class="navbar-text" sec:authentication="name" />!
                             </a>
                         </li>
                         <li>
                             <a class="waves-effect waves-light" th:href="@{/posts/create}">Create a post</a>
                         </li>
                     </th:block>
                     <li><a class="waves-effect waves-light" th:href="@{/posts}">All Posts</a></li>
                     <li>
                         <a href="#" data-activates="slide-out" class="waves-effect waves-light sideNav-btn">
                             <i class="material-icons">search</i>
                         </a>
                     </li>
                     <th:block sec:authorize="isAuthenticated()">
                         <li>
                             <form th:action="@{/logout}" th:method="POST">
                                <button id="logout-mobile" class="waves-effect waves-light navbar-text btn-flat white-text">Logout</button>
                             </form>
                         </li>
                     </th:block>

                     <th:block sec:authorize="!isAuthenticated()">
                         <li><a class="waves-effect waves-light" th:href="@{/register}">Register</a></li>
                         <li><a class="waves-effect waves-light" th:href="@{/login}">Login</a></li>
                    </th:block>
                 </ul>
                 <ul class="side-nav" id="mobile-demo">
                     <th:block sec:authorize="isAuthenticated()">
                         <li>
                             <a th:href="@{/users/profile}" class="waves-effect waves-light btn-link">
                                 Welcome <span class="navbar-text" sec:authentication="name" />!
                             </a>
                         </li>
                         <li>
                             <a class="waves-effect waves-light" th:href="@{/posts/create}">Create a post</a>
                         </li>
                     </th:block>
                     <li><a class="waves-effect waves-light" th:href="@{/posts}">All Posts</a></li>
                     <th:block sec:authorize="isAuthenticated()">
                         <li>
                             <form th:action="@{/logout}" th:method="POST">
                                <button id="logout" class="waves-effect waves-light btn-flat white-text">Logout</button>
                             </form>
                         </li>
                     </th:block>
                     <th:block sec:authorize="!isAuthenticated()">
                         <li><a class="waves-effect waves-light" th:href="@{/register}">Register</a></li>
                         <li><a class="waves-effect waves-light" th:href="@{/login}">Login</a></li>
                    </th:block>

                 </ul>
             </div>
     </nav>

    <!--Side nav-->

     <ul id="slide-out" class="side-nav">
         <li>
             <div class="user-view" sec:authorize="isAuthenticated()">
                 <div class="background">
                     <img src="/imgs/bg-nav.jpg" />
                 </div>
                 <a href="#!user"><img class="circle" src="https://avatars1.githubusercontent.com/u/13546596" /></a>
                 <a href="#!name">
                     <span class="white-text name" th:text="${#authentication.getPrincipal().username}"></span>
                 </a>
                 <a href="#!email">
                     <span class="white-text email" th:text="${#authentication.getPrincipal().email}"></span>
                 </a>
             </div>
             <div class="user-view" sec:authorize="!isAuthenticated()">
                <p>You have to login to see this</p>
             </div>
         </li>
         <li>
             <div class="divider"></div>
         </li>
         <li>
             <div th:include="fragments/forms :: searchForm"></div>
         </li>
     </ul>

</th:block>

</body>
</html>